:root {
  --clr-sbg-blue: #0033a1;
  --clr-sbg-progress-blue: #00a1e0;
  --clr-sbg-bold-blue: #0072ce;
  --clr-sbg-vibrant-blue: #00a9e0;
  --clr-sbg-stature-blue: #0a2240;
  --clr-sbg-orange-light: #ffb94f;
  --clr-sbg-orange-dark: #ff5a00;

  --clr-accent-neutral: #ccc;

  --bg-gradient-sbg: linear-gradient(
    90deg,
    rgba(10, 34, 64, 1) 0%,
    rgba(0, 51, 161, 1) 33%,
    rgba(0, 114, 206, 1) 66%,
    rgba(0, 169, 224, 1) 100%
  );
  --bg-gradient-orange: linear-gradient(135deg, #ff5a00 0%, #ffb94f 100%);
  --bg-gradient-blue: linear-gradient(135deg, #0033a1, #1f59d8);
}
